In [1]:
import pandas as pd
import numpy as np

In [2]:
ad_al=pd.read_csv(r'C:\Users\desktop\EX_PANDAS 06\day05\과제\한국건강증진개발원_절주(주류광고)_주종별 주류광고비 연간 지출_20211231.csv',encoding='cp949')
ad_trend=pd.read_csv(r'C:\Users\desktop\EX_PANDAS 06\day05\과제\한국건강증진개발원_절주(알코올 생산과 소비)_총 주요 주류 출고현황_20211231.csv',encoding='cp949')

In [3]:
ad_al

,연도,소주,맥주,와인,위스키,증류주,청주,탁주 및 전통주,기타,합계
0,2000,25778375,23506092,3059423,15469987,611639,1724958,3809279,2790526,76750279
1,2005,6263853,56687986,4794071,14122827,354440,1821995,8649987,1083435,93778594
2,2010,7982343,64051039,7218100,11419169,1115395,3428068,9078381,2423788,106716283
3,2011,10034962,79733433,1002077,7896693,1356240,4708491,10027381,1578106,116337383
4,2012,10156744,157423852,996734,5396927,2072324,1856041,5156370,1920410,184979402
5,2013,12520340,71550850,2349770,4744694,966018,2980927,5946865,1707482,102766946
6,2014,10511223,93688830,2461145,6539125,1074065,3031357,4389516,4208091,125903352
7,2015,11046126,96240665,1198008,5029078,454834,1662310,3485924,2406855,121523800
8,2016,11199037,93128718,1371626,6138469,470412,1411023,2593497,13096678,129409460
9,2017,10486061,107811088,1583977,3482027,142476,2388766,1157371,3018588,130070354
10,2018,15500781,158916668,791866,512197,192370,1609074,2551170,2304875,182379001
11,2019,26632105,204869558,400490,1222656,199020,441605,2899502,11512464,248177400
12,2020,45462326,174222511,498175,987757,139773,70200,5387264,8621651,235389657
13,2021,43952950,143765278,359320,752000,19000,72774,1246251,14037092,204204665

주류 광고비

In [4]:
#결측치
ad_al.isna().sum()

연도          0
소주          0
맥주          0
와인          0
위스키         0
증류주         0
청주          0
탁주 및 전통주    0
기타          0
합계          0
dtype: int64

In [5]:
#중복값
ad_al.duplicated().sum()

0

In [6]:
ad_al=ad_al.drop(ad_al.index[0:10])
ad_al=ad_al.set_index('연도')
ad_al

,소주,맥주,와인,위스키,증류주,청주,탁주 및 전통주,기타,합계
연도,,,,,,,,,
2018,15500781,158916668,791866,512197,192370,1609074,2551170,2304875,182379001
2019,26632105,204869558,400490,1222656,199020,441605,2899502,11512464,248177400
2020,45462326,174222511,498175,987757,139773,70200,5387264,8621651,235389657
2021,43952950,143765278,359320,752000,19000,72774,1246251,14037092,204204665

In [7]:
ad_al.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 2018 to 2021
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   소주        4 non-null      int64
 1   맥주        4 non-null      int64
 2   와인        4 non-null      int64
 3   위스키       4 non-null      int64
 4   증류주       4 non-null      int64
 5   청주        4 non-null      int64
 6   탁주 및 전통주  4 non-null      int64
 7   기타        4 non-null      int64
 8   합계        4 non-null      int64
dtypes: int64(9)
memory usage: 320.0 bytes

In [8]:
ad_beer=ad_al['맥주']
ad_sum=ad_al['합계']
ad_result=(ad_beer/ad_sum)*100
ad_result.round()

연도
2018    87.0
2019    83.0
2020    74.0
2021    70.0
dtype: float64

In [9]:
ad_soju=ad_al['소주']
ad_sum=ad_al['합계']
ad_result=(ad_soju/ad_sum)*100
ad_result.round()

연도
2018     8.0
2019    11.0
2020    19.0
2021    22.0
dtype: float64

다른 주종과 달리 맥주는 2020년을 기점으로 전체 주류 광고비에서 비중이 줄어드는 것을 알 수 있음

광고비 감소는 실제 소비에 영향을 줬을까?

이를 토대로 소비량 분석

주류 소비량(출고량 기준)

In [10]:
ad_trend

,연도,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
0,2005,3315880,166319,45033,22023,1837655,39412,426,929414,32705,1377,9254,6575,2679
1,2006,3470041,170165,42873,20638,1880049,45046,473,959061,31513,1491,9331,11432,3562
2,2007,3598863,172370,33288,20312,1982697,61127,614,963064,34741,1626,10324,6733,3902
3,2008,3714296,176398,27374,19296,2058550,56015,605,1004099,31059,1350,10434,7241,4521
4,2009,3333048,260701,22116,20813,2002517,45972,794,929926,25767,1215,13493,5606,4128
5,2010,3434305,412279,18841,21267,1956826,46915,785,930608,26179,1113,9390,4779,5323
6,2011,3535591,458198,18975,22329,2022215,46384,706,923028,23371,927,10525,4621,4312
7,2012,3634218,448047,16544,23860,2103654,46505,693,950962,20428,704,11790,6547,4484
8,2013,3628039,426216,14538,25326,2156597,52091,805,905919,18488,744,15214,6806,5295
9,2014,3701462,430896,12320,23291,2173472,53664,861,957818,17991,998,16832,6844,6475
10,2015,3757786,416046,11332,22249,2208808,61905,1045,955523,17402,642,19226,36316,7292
11,2016,3709324,399673,11584,23002,2217762,56722,1307,934869,16845,737,15460,18856,12507
12,2017,3681733,409407,10949,24849,2168596,51737,1964,948110,15989,607,14409,10246,24870
13,2018,3641308,402596,11562,25568,2145118,56332,1769,920082,14194,558,14162,9711,39656
14,2019,3550527,370527,11301,21874,2088837,64539,1802,917711,11911,543,13673,9020,38789
15,2020,3304754,379992,9538,20503,1856393,80003,2001,876520,9918,570,12902,7224,49189
16,2021,3230916,363135,11370,21341,1807620,113762,2567,827627,10720,648,12509,8291,51326

In [11]:
#결측치
ad_trend.isna().sum()

연도       0
총 출고량    0
탁주       0
약주       0
청주       0
맥주       0
과실주      0
증류식소주    0
희석식소주    0
위스키      0
브랜디      0
일반증류주    0
리큐르      0
기타주류     0
dtype: int64

In [12]:
#중복값
ad_trend.duplicated().sum()

0

In [13]:
ad_trend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      17 non-null     int64
 1   총 출고량   17 non-null     int64
 2   탁주      17 non-null     int64
 3   약주      17 non-null     int64
 4   청주      17 non-null     int64
 5   맥주      17 non-null     int64
 6   과실주     17 non-null     int64
 7   증류식소주   17 non-null     int64
 8   희석식소주   17 non-null     int64
 9   위스키     17 non-null     int64
 10  브랜디     17 non-null     int64
 11  일반증류주   17 non-null     int64
 12  리큐르     17 non-null     int64
 13  기타주류    17 non-null     int64
dtypes: int64(14)
memory usage: 2.0 KB

In [14]:
ad_trend=ad_trend.drop(ad_trend.index[0:13])
ad_trend=ad_trend.set_index('연도')
ad_trend

,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
연도,,,,,,,,,,,,,
2018,3641308,402596,11562,25568,2145118,56332,1769,920082,14194,558,14162,9711,39656
2019,3550527,370527,11301,21874,2088837,64539,1802,917711,11911,543,13673,9020,38789
2020,3304754,379992,9538,20503,1856393,80003,2001,876520,9918,570,12902,7224,49189
2021,3230916,363135,11370,21341,1807620,113762,2567,827627,10720,648,12509,8291,51326

In [15]:
series1=ad_al['맥주']
series2=ad_trend['맥주']
combine=pd.concat([series1,series2],axis=1,keys=['광고','소비'])
combine.corr()

          광고        소비
광고  1.000000  0.456056
소비  0.456056  1.000000